body, html {
  height: 100%;
}

body {
  padding-top: 70px;
}

.theme-showcase {
  height: inherit;
}

.theme-showcase .header {
  text-align: center;
}

.results .keep-message, .toss-message {
  text-align: center;
  display: none;
}

.results .active {
  display: block;
}

.questions-list {
  list-style-type: none;
}

.questions-list li h3 {
  text-align: center;
}

.questions-list li {
  display: none;
}

.questions-list .active {
  display: block;
}
